@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-page="/Expenses/Create" class="btn btn-success mb-3">Add Expense</a>
</div>
